/* CSS for static-picture-publish. */
/* Russell Steicke, 2006 */
/* http://adelie.cx/static-picture-publish */

body{
  margin: 0;
  padding: 0;
}

a {
  color: navy;
}

.links-table
{
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

.links-table-cell
{
  width: 33%;
  border-width: 2px;
  border-style: solid;
  padding: 5px;
  background: #eee;
}

.links-table-cell.prev
{
  text-align: center;
}

.links-table-cell.this
{
  text-align: center;
}

.links-table-cell.next
{
  text-align: center;
}

.links-table-cell a
{
  color: black;
  text-decoration: bold;
}

.picinfo
{
  border-width: 2px;
  border-style: solid;
  padding: 10px;
  margin-left: 3%;
  margin-right: 3%;
}

.fullpicinfo
{
  font-family: sans-serif;
  font-size: 80%;
  padding-top: 10px;
}

.page-title
{
  font-size: 1.9em;
}

.dir-list-title,
.thumbnail-list-title
{
  font-size: 1.5em;
}

.page-title,
.dir-list-title,
.thumbnail-list-title
{
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  display: block;
  text-decoration: bold;
  text-align: center;
}

.updir-table,
.dir-table,
.thumbnail-table
{
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

.thumbnail-tbody
{
}

.thumbnail-table-row
{
  width: 33%;
  margin-left: 6em;
  margin-right: 6em;
}

.updir-table-cell,
.dir-table-cell,
.thumbnail-table-cell
{
  text-align: center;
  border-width: 2px;
  border-style: solid;
  padding: 5px;
  background: #eee;
}

.thumbnail
{
  display: inline;
  width: 33%;
}

.thumbnail-text
{
  text-align: center;
}

.thumbnailimage
{
  position: center;
}

.thumbnail .thumbnailtext a:link,
.thumbnail .thumbnailtext a:visited
{
  color: red;
  text-decoration: none;
  font-weight: bold;
  /* display: inline; */
}

.thumbnail .thumbnailimage
{
  margin: 5px;
  border-color: rgb(50,50,50);
  border-width: 5px;
  display: inline;
}

.picinfo
{
  text-align: center;
  background-color: #eee;
  border-color: black;
}

.footer {
  margin-top: 1em;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 1em;
  padding: 0.5em 1em 0.5em;
  border: 1px solid;
  border-width: 1px;
  clear: both;
  border-color: black;
  background: #eee;;
  font-size: 80%;
  text-align: center;
}

.dir a {
  text-decoration: none;
  color: black;
}

.file a {
  text-decoration: none;
  color: black;
}

.path {
  margin: 3px;
  padding: 3px;
  background: #FFCC66;
  font-size: 120%;
}

.updir {
  margin: 3px;
  padding: 3px;
  margin-left: 3em;
  background: #FFEEAA;
}

.file {
  margin: 3px;
  padding: 3px;
  margin-left: 3em;
  background: rgb(95%,95%,95%);
}

.file:hover {
  margin: 3px;
  padding: 3px;
  margin-left: 3em;
  background: rgb(100%,100%,90%);
/*  border: 1px black solid; */
}

.dir {
  margin: 3px;
  padding: 3px;
  margin-left: 3em;
  background: rgb(90%,90%,90%);
}

.dir:hover {
  margin: 3px;
  padding: 3px;
  margin-left: 3em;
  background: rgb(100%,100%,80%);
/*  border: 1px black solid; */
}

/* arch-tag: 4b8b1694-44b0-45df-b825-8418b0f04072
*/
