/* CSS for static-picture-publish. */
/* Russell Steicke, 2006 */
/* http://adelie.cx/static-picture-publish */

body{
  margin: 0;
  padding: 0;
}

a {
  color: navy;
}

div.thumbnailrow
{
  clear: both;
  text-align: centre;
}

div.trp-1
{
  position: relative;
  left: 25%;
}

div.trp-2
{
  position: relative;
  left: 50%;
}

div.trp-3
{
  position: relative;
  left: 75%;
}

div.thumbnail
{
  display: inline;
}

div.thumbnail div.text
{
  display: inline;
  clear: both;
}

div.thumbnail div.text a:link,
div.thumbnail div.text a:visited
{
  color: red;
  text-decoration: none;
  font-weight: bold;
  display: inline;
}

div.thumbnail div.image-div
{
  margin: 5px;
  border-color: rgb(50,50,50);
  border-width: 5px;
  display: inline;
}

.footer {
  margin-top: 8em;
  padding: 0.5em 1em 0.5em;
  border: 1px solid;
  border-width: 1px 0;
  clear: both;
  border-color: rgb(30%,30%,50%) navy rgb(75%,80%,85%) navy;
  background: rgb(88%,90%,92%);
  font-size: 80%;
}

.svn {
  margin: 3em;
}

.rev {
  margin-right: 3px;
  padding-left: 3px;
  text-align: left;
  font-size: 120%;
}

.dir a {
  text-decoration: none;
  color: black;
}

.file a {
  text-decoration: none;
  color: black;
}

.path {
  margin: 3px;
  padding: 3px;
  background: #FFCC66;
  font-size: 120%;
}

.updir {
  margin: 3px;
  padding: 3px;
  margin-left: 3em;
  background: #FFEEAA;
}

.file {
  margin: 3px;
  padding: 3px;
  margin-left: 3em;
  background: rgb(95%,95%,95%);
}

.file:hover {
  margin: 3px;
  padding: 3px;
  margin-left: 3em;
  background: rgb(100%,100%,90%);
/*  border: 1px black solid; */
}

.dir {
  margin: 3px;
  padding: 3px;
  margin-left: 3em;
  background: rgb(90%,90%,90%);
}

.dir:hover {
  margin: 3px;
  padding: 3px;
  margin-left: 3em;
  background: rgb(100%,100%,80%);
/*  border: 1px black solid; */
}

/* arch-tag: 4b8b1694-44b0-45df-b825-8418b0f04072
*/
