include COPYING
include README
include *.text
include setup.py
include static_picture_publish/*.py
include bin/static-picture-publish
include man/static-picture-publish.1.gz
include css/spp.css
include xsl/spp-*.xsl

